<div class="col-12 mb-3">
    <header class="bg-primary pl-3 pr-3 pt-2 pb-2 text-white">
      <div class="row">
        <div class="col">
          <i class="material-icons float-left">library_books</i>
          <span class="float-left mt-1 ml-1">Últimas noticias y eventos</span>
          <div class="clearfix"></div>
        </div>
        <div class="col"><a class="float-right " href="#"><u>Ver más</u></a></div>
      </div>
    </header>
    <div class="col-12  border-bottom">
      <div class="row bg-white">
        <div class="col-3 pt-3  pb-3">
          <img src="/assets/images/ariticle_1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-9 type_14 pl-0 mt-3">
          <h6 class="type_14">12/07/2018</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum massa eu congue tincidunt. Sed
            consectetur euismod erat, quis porta massa. </p>
        </div>
      </div>
    </div>
    <div class="col-12  border-bottom">
      <div class="row bg-white">
        <div class="col-3 pt-3  pb-3">
          <img src="/assets/images/ariticle_1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-9 type_14 pl-0 mt-3">
          <h6 class="type_14">12/07/2018</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum massa eu congue tincidunt. Sed
            consectetur euismod erat, quis porta massa. </p>
        </div>
      </div>
    </div>

    <div class="col-12 ">
      <div class="row bg-white">
        <div class="col-3 pt-3 pb-3">
          <img src="/assets/images/ariticle_1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-9 type_14 pl-0 mt-3">
          <h6 class="type_14">12/07/2018</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum massa eu congue tincidunt. Sed
            consectetur euismod erat, quis porta massa. </p>
        </div>
      </div>
    </div>

  </div>
