<div class="col-12 mb-3">
  <header class="bg-primary pl-3 pr-3 pt-2 pb-2 text-white">
  <div class="row">
    <div class="col">	
    <i class="material-icons float-left">beenhere</i> 
    <span class="float-left mt-1 ml-1">Prescripciones de Médicamentos</span>
    <div class="clearfix"></div>
    </div>	
  <div class="col"><a class="float-right " href="#"><u>Ver más</u></a></div>	
    </div>	
    
  </header>
  <div class="col-12  border-bottom">
    <div class="row bg-white p-3">
      
      <div class="col type_14 p-0 ">
        Nombre del medicamento<br>
        Dosis del medicamento
      </div>
        
    </div>
  </div>
  <div class="col-12  border-bottom">
    <div class="row bg-white p-3">
      
      <div class="col type_14 p-0 ">
        Nombre del medicamento<br>
        Dosis del medicamento
      </div>
        
    </div>
  </div>
  <div class="col-12  border-bottom">
    <div class="row bg-white p-3">
      
      <div class="col type_14 p-0 ">
        Nombre del medicamento<br>
        Dosis del medicamento
      </div>
        
    </div>
  </div>
  <div class="col-12  border-bottom">
    <div class="row bg-white p-3">
      
      <div class="col type_14 p-0 ">
        Nombre del medicamento<br>
        Dosis del medicamento
      </div>
        
    </div>
  </div>
  <div class="col-12  border-bottom">
    <div class="row bg-white p-3">
      
      <div class="col type_14 p-0 ">
        Nombre del medicamento<br>
        Dosis del medicamento
      </div>
        
    </div>
  </div>
</div>