/*
    DEMO STYLE
*/


body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
}

p {

    color: #999;
}

.type_18 { font-size: 18px}
.type_16 { font-size: 16px}
.type_14 { font-size: 14px}
.type_12 { font-size: 12px}

.type_20 { font-size: 20px}
.type_30 { font-size: 30px}
.type_32 { font-size: 3.0rem}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 5px 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 14px;
    display: block;
}

#sidebar ul li {
	border-bottom: 1px solid #dadada
}

#sidebar ul li a:hover {
    color: #5ac3f0;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: #f8f9fa;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #5ac3f0;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        /* min-width: 100%; */
        max-width: 250px;
        background: white;
        color: black;
        transition: all 0.3s;
    }
    
    #sidebar.active {
        min-width: 100%;
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.link{
    cursor: pointer;
}

.background_home { background-image:url(/assets/images/bkg_intro.jpg); min-height: 100%; width: 100%; display: block; background-size: cover }

a:hover{
    color: #033D88;
}

/* pagos */


.pay-item {
    display: flex;
    background-color: white;
}

.pay-item-title {
    color: black;
    font-weight: 700;
}

.pay-label {
    background-color: #001698;
    padding: 4%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay-label-value {
    font-weight: 700;
}

.pay-label-value,
.pay-label-title {
    color: white;
}