<div class="wrapper bg-light">
  <!-- Sidebar  -->
  <nav id="sidebar" class="sticky-top type_12">
    <div class="sidebar-header">
      <img class="img-fluid mr-0" src="/assets/images/logo.png" alt="" />
    </div>
    <ul class="list-unstyled components" *ngIf="!nav">
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/registro">Registrarse</a>
      </li>
    </ul>

    <ul class="list-unstyled components" *ngIf="nav">
      <li>
        <a routerLink="/historial">Historial Clínico</a>
      </li>
      <li>
        <a routerLink="/citas">Citas agendadas</a>
      </li>
      <li>
        <a routerLink="/examenes">Resultados de exámenes</a>
      </li>
      <div>
        <a href="https://www.placetopay.com/web/" target="_blank">
          <img src="https://static.placetopay.com/placetopay-logo.svg">
        </a>
      </div>
    </ul>
    
    <div class="col-sm-12 text-body info blockquote-footer-login" >
      <a routerLink="/help" class="link type_14" target="_blank">Ayuda</a>
      <br>
      <a routerLink="/policies" class="link type_14" target="_blank">Política de tratamiento de datos</a>
      <br>
      <a routerLink="/faq" class="link type_14" target="_blank">Preguntas frecuentes</a>
    </div>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <div class="col-12 type_14 text-justify">
      <h1 class="text-zona"> Política de tratamiento de datos:</h1>
       <p class="text-body">FUNDACIÓN SANTA FE DE BOGOTÁ - PROTECCIÓN DE DATOS PERSONALES LEY 1581 DE 2012
         La Ley 1581 de 2012 estableció el régimen general de protección de Datos Personales, que tiene por objeto desarrollar
        el derecho constitucional que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se
        hayan recogido sobre ellas en bases de datos o archivos, y los demás derechos, libertades y garantías constitucionales
        relacionados con el derecho a la intimidad.</p>
      <p class="text-body"> A su vez, el Decreto 1377 de 2013 reglamentó la Ley 1581 de 2012 y reguló la autorización, revocatoria, las
        políticas y los procedimientos para la protección de datos personales. Con fundamento en las anteriores normas le
        solicitamos leer detenidamente la siguiente información porque Usted recibe comunicaciones de la Fundación Santa Fe de
        Bogotá -FSFB- relacionadas con: noticias que consideramos son de su interés, servicios de salud que ofrecemos,
        educación que brindamos e investigación que realizamos.</p>
       <p class="text-body">
        La FSFB como institución que almacena y recolecta datos personales exclusivamente para enviarle información, requiere
        obtener su autorización para que de manera libre, previa, expresa, voluntaria, y debidamente informada, le permita a
        la Institución recolectar, recaudar, almacenar, usar, circular, suprimir, procesar, compilar, intercambiar, actualizar
        y disponer de los datos que han sido suministrados y que se han incorporado en distintas bases o bancos de datos.
      </p>
       <p class="text-body">
        Así mismo, con fundamento en el artículo 10 del Decreto 1377 de 2013, la FSFB queda autorizada de manera expresa e
        inequívoca para mantener y manejar toda su información conforme a lo previsto en el presente documento, salvo que
        usted le manifieste lo contrario de manera directa, expresa, inequívoca y por escrito dentro de los treinta (30) días
        hábiles contados a partir de la recepción de la presente comunicación a la cuenta de correo electrónico dispuesta para
        tal efecto: comunicaciones@fsfb.org.co Adicionalmente, en cualquier momento usted tiene derecho a oponerse al envío de
        información y puede rectificar o actualizar los datos si son erróneos o han variado. En las futuras comunicaciones que
        le enviemos por correo electrónico le recordaremos sus derechos a conocer, rectificar o suprimir sus datos o a
        solicitarnos la revocatoria de su autorización para el tratamiento de los mismos.
      </p>
       <p class="text-body">
        Esto hace exclusiva referencia a lo señalado arriba y no se relaciona con la información consignada en las historias
        clínicas, debido a que los datos y la información allí consignada conservan su carácter reservado, confidencial y
        totalmente privado (Resolución 1995 de 1999)
      </p>

    </div>
  </div>
</div>

